* {
  margin: 0px;
  padding: 0px;
  font-size: large;
  font-family: cursive;
}
body {
  background-color: burlywood;
}
main {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
input {
  height: 50px;
  width: 500px;
  border-radius: 10px;
  border-width: 1px;
  text-align: center;
}
input::placeholder {
  color: #555;
}
#outputReverse,
h1 {
  color: #555;
}
p {
  font-size: larger;
  color: burlywood;
}
